<template name="slidePlaybackPosition">

  <div>
    <input class="slider-selection" type="text" 
           data-slider-id="control-panel-playback-postion"
           data-slider-min="0" 
           data-slider-max="10" 
           data-slider-step="1" 
           data-slider-value="5"
           data-slider-tooltip="hide"/>

     <div class="input-group input-group-sm" style="width: 164px;">
      <span class="input-group-addon">Position</span>
      <input type="text" class="form-control" placeholder="0:00:00" style="text-align: center;" readonly>
    </div>
  </div>

</template>