<template name="slidePicker">

  <div class="dropup">
    <button class="btn btn-sm btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">Welcome To webMISTC<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">WebMISTC</a></li>
      <li>
      	<input type="file" class="control-btn-slide-picker" accept=".json" style="display:none">
      	<a href="#" class="control-btn-slide-picker-button">Upload Recording</a>
      </li>
    </ul>
  </div>

</template>