<template name="options">

    <div class="btn-group-vertical">
      <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="pencil" data-cursor="pencil" title="Pencil Tool">Whiteboard</button>
      <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="text" data-cursor="commenting-o" title="Text Tool">FC</button>
      <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="line" data-cursor="minus" title="Line Tool">Play</button>
    </div>

</template>