#slide {
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#slide-canvas {
  object-fit: contain;
  overflow: auto;
  object-position: 50% 0px;
}

#overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
#overlay-canvas {
  width: 100%;
  height: 100%;
}

#overlay-content {
  -webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.35));
  filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.35));
  width: 100%;
  height: 100%;
}

.annotation-text {
  white-space: pre-wrap;
  font-family: sans-serif;
  padding: 0px 5px;
  word-break: keep-all;
  display : block;
  background: rgba(255, 255, 255, 0.9);
  resize: none;
  outline: none;
}

.text-tool-input {
  white-space: pre-wrap;
  font-family: sans-serif;
  padding: 0px 5px;
  word-break: keep-all;
  display : block;
  background: rgba(255, 255, 255, 0.9);
  resize: none;
  outline: none;
}

/* NEW STUFF MIGRATE ABOVE INTO BELOW */
#tool-panel{
  width: 110px;
  height: 320px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: darkcyan;
  display: flex;
  z-index: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tool-fluid{
  width: 110px; 
  height: calc( 100vh - 100px - 320px);
  position: fixed;
  top: 320px;
  left: 0px;
  background-color: darkcyan;
}
#control-panel{
  width: 580px;
  height: 100px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: cadetblue;
  display: flex;
  z-index: 4;
  padding: 5px;
  flex-direction: row;
}

.control-panel-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#control-panel-playback-postion {
  width: 164px !important;
}

#control-panel-mic-equalizer, #control-panel-speaker-equalizer {
  width: 85px !important;
}

#control-fluid{
  width: calc( 110vw - 300px - 110px);
  height: 100px;
  position: fixed;
  bottom: 0px;
  left: 560px;
  background-color: cadetblue;
}
#question-panel{
  width: 300px;
  height: calc( (100vh - 100px) / 2 );
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: darkcyan;
}
#chat-panel{
  width: 300px; 
  height: calc( (100vh - 100px) / 2 );
  position: fixed;
  bottom: 100px;
  right: 0px;
  background-color: cadetblue;
  overflow-y: scroll;
}
#chat-input{
  width: 300px;
  height: 100px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
}
#whiteboard{
  width: calc(100vw - 300px - 110px);
  height: calc(100vh - 100px - 100px);
  position: fixed;
  top: 0px;
  left: 110px;
  background-color: gray;
}
#slide-nav-panel{
  width: calc(100vw - 300px - 110px);
  height: 100px;
  position: fixed;
  bottom: 100px;
  left: 110px;
  background-color: lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide-nav-gallery {
  width: 600px;
  height: 55px;
}

#slide-nav-gallery img {
  width: 100%;
  object-fit: contain;
}

.slick-prev:before, .slick-next:before {
  color: darkturquoise ;
}

.slick-slide {
  margin: 5px 5px;
}