/* HELPERS */
.padded {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.slider-selection {
  background: #BABABA;
}