/* HELPERS */
.padded {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.slider-selection {
  background: #BABABA;
}

/*.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}

.flex-item {
  background: silver;
  padding: 5px;
  width: 20px;
  height: 10px;
  
  line-height: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}*/