<template name="colors">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="Colors">
      <i class="fa fa-paint-brush"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="/" class="overlay-btn-color" data-color="#396AB1">
          <div data-name="blue" style="background-color: #396AB1; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#DA7C30">
          <div data-name="orange" style="background-color: #DA7C30; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#3E9651">
          <div data-name="green" style="background-color: #3E9651; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#CC2529">
          <div data-name="red" style="background-color: #CC2529; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#535154">
          <div data-name="gray" style="background-color: #535154; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#6B4C9A">
          <div data-name="purple" style="background-color: #6B4C9A; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#922428">
          <div data-name="burgundy" style="background-color: #922428; height: 10px;">&nbsp;</div>
        </a>
      </li>
      <li>
        <a href="/" class="overlay-btn-color" data-color="#948B3D">
          <div data-name="olive" style="background-color: #948B3D; height: 10px;">&nbsp;</div>
        </a>
      </li>
    </ul>
  </div>
</template>
