<template name="font">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="Text Size">
      <i class="fa fa-arrows-v"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/" class="overlay-btn-text" data-size="14"><div style="font-size:10px">small</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-size="18"><div style="font-size:14px">normal</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-size="24"><div style="font-size:20px">large</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-size="32"><div style="font-size:25px">big</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-size="42"><div style="font-size:30px">huge</div></a></li>
    </ul>
  </div>
</template>
