<template name="outline">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="Line Size">
      <i class="fa fa-arrows-v"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/" class="overlay-btn-size" data-size="3"><div style="background-color: dimgray; height: 3px;">&nbsp;</div></a></li>
      <li><a href="/" class="overlay-btn-size" data-size="5"><div style="background-color: dimgray; height: 5px;">&nbsp;</div></a></li>
      <li><a href="/" class="overlay-btn-size" data-size="8"><div style="background-color: dimgray; height: 8px;">&nbsp;</div></a></li>
      <li><a href="/" class="overlay-btn-size" data-size="13"><div style="background-color: dimgray; height: 13px;">&nbsp;</div></a></li>
      <li><a href="/" class="overlay-btn-size" data-size="21"><div style="background-color: dimgray; height: 21px;">&nbsp;</div></a></li>
    </ul>
  </div>
</template>
