<template name="points">
  <div class="btn-group">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="Text Size">
      <i class="fa fa-arrows-v"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/" class="overlay-btn-text" data-text="12pt"><div style="font-size:10pt">small</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-text="16pt"><div style="font-size:14pt">normal</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-text="22pt"><div style="font-size:20pt">large</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-text="30pt"><div style="font-size:25pt">big</div></a></li>
      <li><a href="/" class="overlay-btn-text" data-text="40pt"><div style="font-size:30pt">huge</div></a></li>
    </ul>
  </div>
</template>
