<template name="controlPanel">

  <section id="control-panel-section-playback" class="control-panel-section">
    {{> playerControls}}
    {{> slideDuration}}
  </section>
  <section id="control-panel-section-slide-manager" class="control-panel-section">
    {{> slidePicker}}
    {{> slidePlaybackPosition}}
  </section>
  <section id="control-panel-section-sound-test" class="control-panel-section">
    {{> soundTestControls}}
    {{> equalizers}}
  </section>
  <section id="control-panel-section-options" class="control-panel-section">
    {{> options}}
  </section>

</template>