@slideNavHeight: 200px;
@slideNavControlsHeight: 150px;
@menu-width--panels: 225px!important;
@menu-width--notes: 225px!important;
@tablet: ~"only screen and (min-width: 600px)";
@desktop: ~"only screen and (min-width: 900px)";

/* move all 'magic numbers' up here as variables */


.whiteboard {
  width: 100vw;
  height: 100vh;
  z-index: 8;
  @media @desktop {
    position: absolute;
    width: ~"calc(100vw - 75px - 225px - 40px)";
    height: ~"calc(100vh - 150px)";
    left: 95px;
    top: 20px;
  }
}

.whiteboard--fullscreen {
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  width: 100vw!important;
  height: 100vh!important;
  z-index: 30!important;
}

.mute-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 10;
  @media @desktop {
    top: ~"calc(100vh - 165px)";
    right: ~"calc(225px + 32px)";
    width: 28px;
    height: 28px;
  }
}
.mute-btn > i, .fullscreen-btn > i {
  @media @desktop {
    font-size: 14px!important;
    line-height: 0px!important;
    position: absolute;
    right: 5px;
  }
}

.fullscreen-btn {
  z-index: 12;
  position: absolute;
  display: none;
  @media @desktop {
    display: block;
    top: ~"calc(100vh - 165px)";
    left: ~"calc(75px + 32px)";
    width: 28px;
    height: 28px;
  }
}

.fullscreen-btn--fullscreen {
  position: fixed!important;
  left: 25px!important;
  top: ~"calc(100vh - 50px)";
  z-index: 100;
}

.notes-menu-btn {
  position: absolute;
  bottom: 2%;
  left: 2%;
  opacity: 1!important;
}

.panels-menu-btn {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.closed {
  display: none;
}

.mute-btn > i,
.notes-menu-btn > i,
.panels-menu-btn > i,
{
  line-height: 54px;
}

.notes-menu {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  @media @desktop {
    align-items: center;
  }
}

.notes-menu__styles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.panels-menu {
  height: 100vh;
  width: @menu-width--panels;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-around;
  justify-content: space-around;
  overflow: hidden;
}

.notes-menu__clear-slide {
  font-size: .8em;
}

.roles-menu__options {
  position: fixed;
  bottom: calc((100vh / 12) * 1);
}

.menu__item-dropdown--colors {
  position: fixed;
  bottom: calc((100vh / 12) * 3);
}

.menu__item-dropdown--sizes {
  position: fixed;
  bottom: calc((100vh / 12) * 2);
}

.menu__item-dropdown--roles {
  position: fixed;
  bottom: calc((100vh / 12) * 1);
}

.messages__recipient-list {
  max-height: 75%;
  overflow-y: auto;
}
.voting-polls {
  z-index: 5;
}

.panel {
  height: 100%;
  width: @menu-width--panels;
  position: fixed;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.panel__header {
  flex: 0 1 auto;
  padding: 10px;
}

.panel__content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.panel__footer {
  flex: 0 1 auto;
}

.flex-row {
  display: flex!important;
  flex-flow: row nowrap;
  align-items: center;
}

.flex-row--ends {
  justify-content: space-between;
}

.flex-row--center {
  justify-content: center;
}

.flex-row--middle {
  align-items: center;
  align-content: center;
}

.voting-polls__tag {
  padding: 8px!important;
}


.slide-menu {
  position: absolute;
  bottom: 0;
  @media @desktop {
    width: ~"calc(100vw - 115px - 225px)";
    left: 95px;
    bottom: 130px;
    z-index: 9;
  }
}

.slide-nav {
  z-index: 4; 
  postion: absolute;
  left: 0; 
  bottom:0; 
  width: 100%; 
  height: @slideNavHeight;
  @media @desktop {
    width: ~"calc(100% - 75px - 225px)";
    height: calc(@slideNavHeight * .65);
    left: 75px;
    z-index: 2;
  }
}
.slide-nav__controls {
  position: relative;
  height: calc(@slideNavHeight - 32px);
  @media @desktop {
    height: calc((@slideNavHeight - 32px ) * .65);
  }
}
.slide-nav__slides-bounds {
  overflow: hidden;
  width: 80%;
}
.slide-nav__slides {
  width: 2000px; /*this is a hack for flexbox; how to fix???*/
  height: @slideNavControlsHeight;
  @media @desktop {
    height: calc(@slideNavControlsHeight* .65);
  }
}
.slide-nav__slide {
  height: 75%;
  width: calc(100vw / 4);
  @media @desktop {
    width: ~"calc((100vw - 200px - 225px)/ 6)";
  }
}

.slide-nav__active {
  height: 80%!important;
  transition: height 1s;
}

.flex-absolute-center {
  display: flex!important;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.menu {
  padding: 0.01em 16px;
  display: none;
  overflow: hidden;
  background-color: white;
  position: fixed!important;
  @media @desktop {
    display: block;
    box-shadow: none !important;
  }
}
.menu--notes {
  height: 100%;
  width: 200px;
  @media @desktop {
    width: 75px;
  }
}

.menu__item-dropdown {
  cursor: pointer;
}

.menu__item {
  cursor: pointer;
}

.menu__item-description {
  position: relative;
  @media @desktop {
    display: none;
  }
}

.tooltip {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  color: #fff !important;
  background-color: #009688 !important;
  border-radius: 0 !important;
  border-color: #009688 !important;
}

.note-size--tiny {
  font-size: 8px !important;
}
.note-size--small {
  font-size: 10px !important;
}
.note-size--medium {
  font-size: 12px !important;
}
.note-size--large {
  font-size: 14px !important;
}
.note-size--huge {
  font-size: 18px !important;
}

.menu__item-button {
  width: 50px;
}