<template name="slideNavPanel">
    
  <div id="slide-nav-gallery">
    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>
    <div><img src="https://unsplash.it/500/300?image=2"/></div>
    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>

    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>
    <div><img src="https://unsplash.it/500/300?image=2"/></div>
    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>
    
    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>
    <div><img src="https://unsplash.it/500/300?image=2"/></div>
    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>

    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>
    <div><img src="https://unsplash.it/500/300?image=2"/></div>
    <div><img src="https://unsplash.it/500/300?image=0"/></div>
    <div><img src="https://unsplash.it/500/300?image=1"/></div>
  </div>

</template>