<template name="slideNavPanel">
    
  <div id="slide-nav-gallery">
    <div class="slide-nav-option" data-slide="1"><img src="/slidenav/slide-1.png" /></div>
    <div class="slide-nav-option" data-slide="2"><img src="/slidenav/slide-2.png"/></div>
    <div class="slide-nav-option" data-slide="3"><img src="/slidenav/slide-3.png"/></div>
    <div class="slide-nav-option" data-slide="4"><img src="/slidenav/slide-4.png"/></div>
    <div class="slide-nav-option" data-slide="5"><img src="/slidenav/slide-5.png"/></div>
    <div class="slide-nav-option" data-slide="6"><img src="/slidenav/slide-6.png"/></div>
    <div class="slide-nav-option" data-slide="7"><img src="/slidenav/slide-7.png"/></div>
    <div class="slide-nav-option" data-slide="8"><img src="/slidenav/slide-8.png"/></div>
    <div class="slide-nav-option" data-slide="9"><img src="/slidenav/slide-9.png"/></div>
    <div class="slide-nav-option" data-slide="10"><img src="/slidenav/slide-10.png"/></div>
    <div class="slide-nav-option" data-slide="11"><img src="/slidenav/slide-11.png"/></div>
  </div>

</template>