<template name="soundTestControls">

    <div class="btn-group">

      <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="text" data-cursor="commenting-o" title="Sound Test">
        <i class="fa fa-volume-down fa-fw"></i>
      </button>

      <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="pencil" data-cursor="pencil" title="Send">
        <i class="fa fa-sign-out fa-fw"></i>
      </button>

      <button type="button" class="btn btn-sm btn-default overlay-btn-tool" data-tool="pencil" data-cursor="pencil" title="Stop">
        <i class="fa fa-stop-circle-o fa-fw"></i>
      </button>

    </div>

</template>